.side{
    background-color: #ffffffb2;
    width: 250px;
    /* margin: 20px; */
    /* height: 80vh; */
    border-radius: 10px;
    /* border: 1px solid black; */
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0,.5);
}
.component{
    border-radius: 5px;
    padding: 5px;
    transition: .1s;
}
.component:hover{
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0,.2);


}